PORT=8080
MONGODB_URI=mongodb://127.0.0.1:27017/doctors-app
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:8080
NODE_ENV=development

# Cloudinary — image uploads (get credentials from cloudinary.com)
CLOUDINARY_CLOUD_NAME=dt06ubxi7
CLOUDINARY_API_KEY=771885728347811
CLOUDINARY_API_SECRET=9pg5c3lSgmCkQao9tVni6cq8IR4
